<section style="background-color: rgba(209, 250, 209, 0.815)">
  <div class="container full-height d-flex align-items-center">
    <div style="width: 100%">
      <h2
      #text
        style="
          color: #16a2eb;
          text-align: center;
          width: 100%;
          margin-bottom: 48px;
        "
      >
        enova365 to indywidualne rozwiązania dla każdego
      </h2>
      <iframe
        style="width: 100%"
        #video
        title="vimeo-player"
        src="https://player.vimeo.com/video/166380520"
        width="640"
        height="400"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
