<section style="background-color: rgba(209, 250, 209, 0.815);">
  <div class="container full-height d-flex align-items-center">
    <div class="mx-auto align-middle" style="display: block; width: 400px">
      <div class="row" style="margin-bottom: 18px">
        <div class="col">
          <h2 style="text-align: center;">Formularz kontaktowy</h2>
        </div>
      </div>
      <div class="row" style="margin-bottom: 18px" #name>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Imię</span>
            </div>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 18px" #email>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">email</span>
            </div>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 18px" #message>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Treść wiadomości</span>
            </div>
            <textarea type="text" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row" #send>
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-block">Wyślij</button>
        </div>
      </div>
    </div>
  </div>
</section>
