<section style="background-color: rgba(209, 250, 209, 0.815);">
  <div class="container full-height d-flex align-items-center">
    <div class="row d-flex full-height align-items-center">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <h1 #heading1>Jeden system, wiele możliwości</h1>
        <p #paragraph1>
          enova365 to system ERP zaprojektowany dla poprawy wydajności
          operacyjnej przedsiębiorstwa. Rozwiązanie wykorzystywane jest przez
          14,5 tys. polskich przedsiębiorstw.
        </p>
        <p #paragraph2>
          Firma przypomina w swojej strukturze żywy organizm, a enova365
          doskonale tę strukturę odwzorowuje. Każdy etap rozwoju
          przedsiębiorstwa, to również rozwój i rozbudowa systemu enova365.
        </p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <img
          src="./assets/enova365-image-1.png"
          class="img-fluid"
          alt=""
          #image
        />
      </div>
    </div>
  </div>
</section>
